/* モーダルのスタイル */
.lightbox-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 80%;
  }
  
  .lightbox-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .lightbox-navigation button {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .image-thumbnails img {
    transition: transform 0.2s ease;
  }
  
  .image-thumbnails img:hover {
    transform: scale(1.1);
  }
  